/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,html{
  font-family: 'Sen', sans-serif;
  height: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}
input:focus, textarea:focus, select:focus{
	outline: none;
}
::placeholder {
  color: #ffffff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}

.baseline{
	font-size:12px;
	font-style: italic;
	color: rgba(255,255,255,0.5);
}
#before .logo{
	margin-top:35vh;
}
#app {
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
	height: 100%;
  background: linear-gradient(129deg, rgba(60,68,149,1) 0%, rgba(208,25,73,1) 100%); 
}
.btn{
	border-radius: 30px;
	text-align: center;
	width: 190px;
	padding: 10px 30px;
	cursor: pointer;
	transition: 1s;
}
.btn.white{
	font-family: 'Sen', sans-serif;
	border: 1px solid #fff;
	background: none;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
}
.btn.white:hover{
	background:#ffffff;
	color: #000000;
}
.btn.back{
	font-family: 'Sen', sans-serif;
	border: 1px solid #c53524;
	background: none;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 16px;
	padding: 5px 20px;
	width: auto;
	color: #c53524;
}
.btn.back:hover{
	background:#c53524;
	color: #ffffff;
}
.btn.google{
	font-family: 'Sen', sans-serif;
	border: 1px solid #fff;
	background: #fff;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
}
.btn.google:hover{
	background: #3783fa;
	border-color: #3783fa;
}
.btn.google span{
	transition: 1s;
}
.btn.google:hover span{
	color: #ffffff;
}
.b{color: #3783fa;}
.v{color: #0f9d57;}
.r{color: #ec402b;}
.j{color: #f4b400;}

.field{
	font-family: 'Sen', sans-serif;
	color: #ffffff;
	border: none;
	border-bottom: 1px solid #fff;
	background: none;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 200px;
	padding-bottom: 5px;
	margin-top: 15px;
}
.sign{
	margin-top: 65px;
}